<!-- IF S_HELPDESKKB_TOPIC_SUGGESTIONS -->
<div class="panel bg2">
    <div class="inner">
        <h3>{L_HELPDESKKB_TOPIC_SUGGESTIONS_TITLE}</h3>
        <p>{L_HELPDESKKB_TOPIC_SUGGESTIONS_EXPLAIN}</p>
        <ul class="topiclist forums">
            <!-- BEGIN helpdeskkb_topic_suggestions -->
            <li class="row">
                <dl class="icon">
                    <dt>
                        <a class="forumtitle" href="{helpdeskkb_topic_suggestions.U_ARTICLE}">{helpdeskkb_topic_suggestions.ARTICLE_TITLE}</a>
                        <!-- IF helpdeskkb_topic_suggestions.ARTICLE_SUMMARY -->
                        <br><span>{helpdeskkb_topic_suggestions.ARTICLE_SUMMARY}</span>
                        <!-- ENDIF -->
                    </dt>
                </dl>
            </li>
            <!-- END helpdeskkb_topic_suggestions -->
        </ul>
    </div>
</div>
<!-- ENDIF -->
